.main-content {
    padding: 20px;
  }

  .student-info {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px; /* Add margin for spacing */
  }